/* Estilos simples com tons de cinza */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    width: 100%;
    max-width: 400px;
    background: #d9d9d9;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 15%;
    background-color: #888;
    color: white;
    border: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

/* button:hover {
    background-color: #52645d;
} */

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e0e0e0;
    margin-bottom: 8px;
    border-radius: 4px;
}

.remove-btn {
    background-color: #fc0101;
    /* color: rgb(255, 0, 0); */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* .remove-btn:hover {
    background-color: #ff0000;
} */

.feita{
    background: #06dcf8;
}